:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.container {
  max-height: 13%;
  min-height: 60%;
}

.container-2 {
  aspect-ratio: auto;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.outlinecontainer {
  width: 585px;
  height: 620px;
  min-height: 400px;
  aspect-ratio: auto;
}

.corner {
  width: 75px;
  height: 75px;
  aspect-ratio: 1 / 1;
  color: #333;
  background-color: #ebebeb;
  border: 1px #000;
  border-radius: 4px;
  flex: none;
  margin-top: 0;
  margin-bottom: 3px;
  margin-right: 3px;
}

.playerplate {
  width: 75%;
  height: 150px;
  color: aliceblue;
  background-color: #ebebeb;
  border: 1px #000;
  margin-top: 50px;
  border-radius: 4px;
}

.blocktop {
  width: 45px;
  height: 75px;
  float: left;
  aspect-ratio: auto;
  background-color: #ebebeb;
  border: 3px #000;
  border-radius: 4px;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 3px;
  padding-right: 0;
  display: block;
  position: static;
}

.flextop {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flexside {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.blockside {
  width: 75px;
  height: 45px;
  float: left;
  aspect-ratio: auto;
  background-color: #ebebeb;
  border: 3px #000;
  border-radius: 4px;
  flex-flow: row;
  flex: none;
  order: 0;
  justify-content: flex-start;
  align-self: auto;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 3px;
  margin-left: -1px;
  padding-left: 0;
  display: flex;
  position: static;
}

.container-5, .container-6 {
  flex: 1;
}

.middlecontainer {
  flex: 1;
  align-self: stretch;
}

@media screen and (max-width: 991px) {
  .container-3 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .container-3 {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }
}

.fog-yellow { background-color: #d3b660; }
.fog-red { background-color: #c65447; }
.fog-green { background-color: #27ae60; }
.fog-blue { background-color: #3498db; }
.grad-yellow { background: linear-gradient(45deg, #b69c4c, #dac68a); }
.grad-red { background: linear-gradient(45deg, #a54136, #c98c85); }
.grad-green { background: linear-gradient(45deg, #1e8a4b, #5cd08d); }
.grad-blue { background: linear-gradient(45deg, #297bb2, #79c1f1); }

/* fields */
.go { 
  background-image: url("/pics/icons/go.webp");
}

.parking { 
  background-image: url("/pics/icons/parking.webp");
}

.to-jail { 
  background-image: url("/pics/icons/to-jail.webp");
}

.jail { 
  background-image: url("/pics/icons/jail.webp");
}

.blocktop img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.blockside img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.property {
  cursor: pointer;
}

.playerplate h4 {
  margin-top: 15px;
}

.playerplate h3 {
  margin-top: 15px;
}

.playerplate h3::before {
  content: '$';
  display: inline-block;
  padding-right: 1px;
  opacity: .5;
  transform: scale(.75);
}
.playerplate h3::after {
  content: 'm';
  padding-left: 2px;
  opacity: .7;
}