<main id="connectToLobbyContainer" class="container" style="display: none;">
    <div class="bg-body-tertiary p-5 rounded">
        <button type="button" onclick="$('#connectToLobbyContainer').hide()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <h1>Приєднатися</h1>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Гравець</th>
              <th scope="col">Тип поля</th>
              <th scope="col">Швидка гра</th>
              <th scope="col">Експериментальний режим</th>
              <th scope="col">Дія</th>
            </tr>
          </thead>
          <tbody id="tableLobbies">
            
          </tbody>
        </table>
      </div>

      <!-- <div class="needs-validation">
        <div class="row g-3">
          <div class="col-md-5">
            <label for="fieldType" class="form-label">Тип поля</label>
            <select class="form-select" id="fieldType" required="">
              <option value="classic">Класика</option>
            </select>
          </div>

        <hr class="my-4">

        <div class="form-check">
          <input disabled type="checkbox" class="form-check-input" id="fast-game">
          <label class="form-check-label" for="fast-game">Швидка гра (в процесі)</label>
        </div>

        <div class="form-check">
          <input disabled type="checkbox" class="form-check-input" id="experimental-settings">
          <label class="form-check-label" for="experimental-settings">Експериментальні налаштування (в процесі)</label>
        </div>

        <hr class="my-4">
        <p id="createdP" class="bg-success dropdown-item text-white font-weight-bold" style="display: none;">Лоббі вже створено. Натиснувши на кнопку "Приєднатися" - ти зможеш його побачити</p>

        <button class="w-100 btn btn-primary btn-lg" id="lobbyCreateBtn">Готово</button>
      </div>
    </div> -->
</main>