<!--game.html-->
{{ template "header.html" .}}
<script src="/game.js?v={{ .version }}"></script>

<div class="row mb-3 text-center">
  <div class="col-md-1 themed-grid-col"></div>
  <div class="col-md-3 themed-grid-col">
    <div class="w-layout-vflex w-clearfix">
      <div id="player0-plate" class="playerplate bg-secondary">
        <h4>
          Ім'я першого гравця
        </h4>
        <hr/>
        <h3 id="player0-money">1500</h3>
      </div>
      <div id="player1-plate" class="playerplate bg-secondary">
        <h4>
          Ім'я другого гравця
        </h4>
        <hr/>
        <h3 id="player1-money">1500</h3>
      </div>

      <div class="w-layout-hflex dices_made_with_css">
        <!-- one -->
        <div class="dice first first-face">
          <span class="dot"> </span>
        </div>
        <!-- one -->
        <!-- two -->
        <div class="dice first second-face">
          <span class="dot"> </span>
          <span class="dot"> </span>
        </div>
        <!-- two -->
        <!-- three -->
        <div class="dice first third-face">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        <!-- three -->
        <!-- four -->
        <div class="fourth-face dice first">
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <!-- four -->
        <!-- five -->
        <div class="fifth-face dice first">
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <!-- five -->
        <!-- six -->
        <div class="sixth-face dice first">
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <!-- six -->
        <!-- SECOND DICE FOR DOUBLE -->
        <!-- one -->
        <div class="dice second first-face">
          <span class="dot"> </span>
        </div>
        <!-- one -->
        <!-- two -->
        <div class="dice second second-face">
          <span class="dot"> </span>
          <span class="dot"> </span>
        </div>
        <!-- two -->
        <!-- three -->
        <div class="dice second third-face">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        <!-- three -->
        <!-- four -->
        <div class="fourth-face dice second">
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <!-- four -->
        <!-- five -->
        <div class="fifth-face dice second">
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <!-- five -->
        <!-- six -->
        <div class="sixth-face dice second">
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          <div class="column">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
        <!-- six -->
      </div>
    </div>
    
  </div>
  <div class="col-md-5 themed-grid-col">

    <div class="w-layout-blockcontainer outlinecontainer w-container">
      <div class="w-layout-hflex flextop w-clearfix"> <!-- top -->
        <div id="fieldID-20" class="corner parking"></div>
        <div id="fieldID-21" class="blocktop property"><img src="/pics/icons/street-red.webp" alt="Street red"></div>
        <div id="fieldID-22" class="blocktop"><img src="/pics/icons/chance.webp" alt="Chance"></div>
        <div id="fieldID-23" class="blocktop property"><img src="/pics/icons/street-red.webp" alt="Street red"></div>
        <div id="fieldID-24" class="blocktop property"><img src="/pics/icons/street-red.webp" alt="Street red"></div>
        <div id="fieldID-25" class="blocktop property"><img src="/pics/icons/train3.webp" alt="Train"></div>
        <div id="fieldID-26" class="blocktop property"><img src="/pics/icons/street-yellow.webp" alt="Street yellow"></div>
        <div id="fieldID-27" class="blocktop property"><img src="/pics/icons/street-yellow.webp" alt="Street yellow"></div>
        <div id="fieldID-28" class="blocktop property"><img src="/pics/icons/utility2.webp" alt="Utility"></div>
        <div id="fieldID-29" class="blocktop property"><img src="/pics/icons/street-yellow.webp" alt="Street yellow"></div>
        <div id="fieldID-30" class="corner to-jail"></div>
      </div>
      <div class="w-layout-hflex flexside">
        <div class="w-layout-vflex w-clearfix"> <!-- left side -->
          <div id="fieldID-19" class="blockside property"><img src="/pics/icons/street-orange.webp" alt="Street orange"></div>
          <div id="fieldID-18" class="blockside property"><img src="/pics/icons/street-orange.webp" alt="Street orange"></div>
          <div id="fieldID-17" class="blockside"><img src="/pics/icons/chance.webp" alt="Chance"></div>
          <div id="fieldID-16" class="blockside property"><img src="/pics/icons/street-orange.webp" alt="Street orange"></div>
          <div id="fieldID-15" class="blockside property"><img src="/pics/icons/train2.webp" alt="Train"></div>
          <div id="fieldID-14" class="blockside property"><img src="/pics/icons/street-pink.webp" alt="Street pink"></div>
          <div id="fieldID-13" class="blockside property"><img src="/pics/icons/street-pink.webp" alt="Street pink"></div>
          <div id="fieldID-12" class="blockside property"><img src="/pics/icons/utility1.webp" alt="Utility"></div>
          <div id="fieldID-11" class="blockside property"><img src="/pics/icons/street-pink.webp" alt="Street pink"></div>
        </div>
        <div class="w-layout-blockcontainer middlecontainer w-container">
          <!-- middle box -->
          <main class="container p-3">

            <div id="turnPlate" class="bg-body-tertiary p-4 rounded" style="display: none;">
              <h5>🎲 Твій хід! 🎲</h5>
              <div class="row g-2">
                <hr class="my-2">
                <button class="w-100 btn btn-primary" onclick="window.turn()">Кинути кубики</button>
              </div>
            </div>
            <div id="buyPlate" class="bg-body-tertiary p-4 rounded" style="display: none;">
              <h5>Вулиця Богдана Хмельницького</h5>
              <span>Орієнтована ціна: <h5>240</h5></span>
              <div class="row g-2">
                <hr class="my-2">
                <div>
                  <button type="button" class="btn btn-success col-md-5" onclick="window.buy()">Купити ділянку</button>
                  <button type="button" class="btn btn-secondary col-md-5">Аукціон</button>
                </div>
              </div>
            </div>
            <div id="payRentPlate" class="bg-body-tertiary p-4 rounded" style="display: none;">
              <h5>Вулиця Богдана Хмельницького</h5>
              <span>Вартість аренди: <h5>24</h5></span>
              <div class="row g-2">
                <hr class="my-2">
                <div>
                  <button type="button" class="btn btn-success col-md-5" onclick="window.payRent()">Заплатити аренду</button>
                </div>
              </div>
            </div>

            
          </main>

          <main class="container p-3">
            <div class="overflow-auto p-3 bg-light text-start chatbox">
              <span id="chatBottom"></span>
            </div>
          </main>

          <!-- middle box -->
        </div>
        <div class="w-layout-vflex w-clearfix"> <!-- right side -->
          <div id="fieldID-31" class="blockside property"><img src="/pics/icons/street-green.webp" alt="Street green"></div>
          <div id="fieldID-32" class="blockside property"><img src="/pics/icons/street-green.webp" alt="Street green"></div>
          <div id="fieldID-33" class="blockside"><img src="/pics/icons/chance.webp" alt="Chance"></div>
          <div id="fieldID-34" class="blockside property"><img src="/pics/icons/street-green.webp" alt="Street green"></div>
          <div id="fieldID-35" class="blockside property"><img src="/pics/icons/train4.webp" alt="Train"></div>
          <div id="fieldID-36" class="blockside"><img src="/pics/icons/chance.webp" alt="Chance"></div>
          <div id="fieldID-37" class="blockside property"><img src="/pics/icons/street-blue.webp" alt="Street blue"></div>
          <div id="fieldID-38" class="blockside"><img src="/pics/icons/luxury-tax.webp" alt="Luxury tax"></div>
          <div id="fieldID-39" class="blockside property"><img src="/pics/icons/street-blue.webp" alt="Street blue"></div>
        </div>
      </div>
    <div class="w-layout-hflex flextop w-clearfix"> <!-- bottom -->
        <div id="fieldID-10" class="corner jail"></div>
        <div id="fieldID-9" class="blocktop property"><img src="/pics/icons/street-cyan.webp" alt="Street cyan"></div>
        <div id="fieldID-8" class="blocktop property"><img src="/pics/icons/street-cyan.webp" alt="Street cyan"></div>
        <div id="fieldID-7" class="blocktop"><img src="/pics/icons/chance.webp" alt="Chance"></div>
        <div id="fieldID-6" class="blocktop property"><img src="/pics/icons/street-cyan.webp" alt="Street cyan"></div>
        <div id="fieldID-5" class="blocktop property"><img src="/pics/icons/train1.webp" alt="Train"></div>
        <div id="fieldID-4" class="blocktop"><img src="/pics/icons/tax.webp" alt="Tax"></div>
        <div id="fieldID-3" class="blocktop property"><img src="/pics/icons/street-brown.webp" alt="Street brown"></div>
        <div id="fieldID-2" class="blocktop"><img src="/pics/icons/chance.webp" alt="Chance"></div>
        <div id="fieldID-1" class="blocktop property"><img src="/pics/icons/street-brown.webp" alt="Street brown"></div>
        <div id="fieldID-0" class="corner go"></div>
      </div>
    </div>

  </div>
  <div class="col-md-3 themed-grid-col"></div>
</div>

<!-- <div class="w-layout-hflex">
  <div class="w-layout-vflex">
    <div></div>
    <div></div>
  </div>


  <div class="w-layout-blockcontainer outlinecontainer w-container">
    <div class="w-layout-hflex flextop w-clearfix">
      <div class="corner"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="corner"></div>
    </div>
    <div class="w-layout-hflex flexside">
      <div class="w-layout-vflex w-clearfix">
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
      </div>
      <div class="w-layout-blockcontainer middlecontainer w-container"></div>
      <div class="w-layout-vflex w-clearfix">
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
      </div>
    </div>
    <div class="w-layout-hflex flextop w-clearfix">
      <div class="corner"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="corner"></div>
    </div>
  </div> -->

</div>

{{ template "footer.html" .}}