<!--game.html-->
{{ template "header.html" .}}
<script src="/game.js?v={{ .version }}"></script>

<div class="row mb-3 text-center">
  <div class="col-md-1 themed-grid-col"></div>
  <div class="col-md-3 themed-grid-col">
    <div class="w-layout-vflex w-clearfix">
      <div id="player1-plate" class="playerplate bg-secondary">
        <h4>
          Ім'я першого гравця
        </h4>
        <hr/>
        <h3 id="player1-money">1500</h3>
      </div>
      <div id="player2-plate" class="playerplate bg-secondary">
        <h4>
          Ім'я другого гравця
        </h4>
        <hr/>
        <h3 id="player2-money">1500</h3>
      </div>
    </div>
    
  </div>
  <div class="col-md-5 themed-grid-col">

    <div class="w-layout-blockcontainer outlinecontainer w-container">
      <div class="w-layout-hflex flextop w-clearfix"> <!-- top -->
        <div class="corner parking"></div>
        <div class="blocktop property"><img src="/pics/icons/street-red.webp" alt="Street red"></div>
        <div class="blocktop"><img src="/pics/icons/chance.webp" alt="Chance"></div>
        <div class="blocktop property"><img src="/pics/icons/street-red.webp" alt="Street red"></div>
        <div class="blocktop property"><img src="/pics/icons/street-red.webp" alt="Street red"></div>
        <div class="blocktop property"><img src="/pics/icons/train3.webp" alt="Train"></div>
        <div class="blocktop property"><img src="/pics/icons/street-yellow.webp" alt="Street yellow"></div>
        <div class="blocktop property"><img src="/pics/icons/street-yellow.webp" alt="Street yellow"></div>
        <div class="blocktop property"><img src="/pics/icons/utility2.webp" alt="Utility"></div>
        <div class="blocktop property"><img src="/pics/icons/street-yellow.webp" alt="Street yellow"></div>
        <div class="corner to-jail"></div>
      </div>
      <div class="w-layout-hflex flexside">
        <div class="w-layout-vflex w-clearfix"> <!-- left side -->
          <div class="blockside property"><img src="/pics/icons/street-orange.webp" alt="Street orange"></div>
          <div class="blockside property"><img src="/pics/icons/street-orange.webp" alt="Street orange"></div>
          <div class="blockside"><img src="/pics/icons/chance.webp" alt="Chance"></div>
          <div class="blockside property"><img src="/pics/icons/street-orange.webp" alt="Street orange"></div>
          <div class="blockside property"><img src="/pics/icons/train2.webp" alt="Train"></div>
          <div class="blockside property"><img src="/pics/icons/street-pink.webp" alt="Street pink"></div>
          <div class="blockside property"><img src="/pics/icons/street-pink.webp" alt="Street pink"></div>
          <div class="blockside property"><img src="/pics/icons/utility1.webp" alt="Utility"></div>
          <div class="blockside property"><img src="/pics/icons/street-pink.webp" alt="Street pink"></div>
        </div>
        <div class="w-layout-blockcontainer middlecontainer w-container"></div>
        <div class="w-layout-vflex w-clearfix"> <!-- right side -->
          <div class="blockside property"><img src="/pics/icons/street-green.webp" alt="Street green"></div>
          <div class="blockside property"><img src="/pics/icons/street-green.webp" alt="Street green"></div>
          <div class="blockside"><img src="/pics/icons/chance.webp" alt="Chance"></div>
          <div class="blockside property"><img src="/pics/icons/street-green.webp" alt="Street green"></div>
          <div class="blockside property"><img src="/pics/icons/train4.webp" alt="Train"></div>
          <div class="blockside"><img src="/pics/icons/chance.webp" alt="Chance"></div>
          <div class="blockside property"><img src="/pics/icons/street-blue.webp" alt="Street blue"></div>
          <div class="blockside"><img src="/pics/icons/luxury-tax.webp" alt="Luxury tax"></div>
          <div class="blockside property"><img src="/pics/icons/street-blue.webp" alt="Street blue"></div>
        </div>
      </div>
    <div class="w-layout-hflex flextop w-clearfix"> <!-- bottom -->
        <div class="corner jail"></div>
        <div class="blocktop property"><img src="/pics/icons/street-cyan.webp" alt="Street cyan"></div>
        <div class="blocktop property"><img src="/pics/icons/street-cyan.webp" alt="Street cyan"></div>
        <div class="blocktop"><img src="/pics/icons/chance.webp" alt="Chance"></div>
        <div class="blocktop property"><img src="/pics/icons/street-cyan.webp" alt="Street cyan"></div>
        <div class="blocktop property"><img src="/pics/icons/train1.webp" alt="Train"></div>
        <div class="blocktop"><img src="/pics/icons/tax.webp" alt="Tax"></div>
        <div class="blocktop property"><img src="/pics/icons/street-brown.webp" alt="Street brown"></div>
        <div class="blocktop"><img src="/pics/icons/chance.webp" alt="Chance"></div>
        <div class="blocktop property"><img src="/pics/icons/street-brown.webp" alt="Street brown"></div>
        <div class="corner go"></div>
      </div>
    </div>

  </div>
  <div class="col-md-3 themed-grid-col"></div>
</div>

<!-- <div class="w-layout-hflex">
  <div class="w-layout-vflex">
    <div></div>
    <div></div>
  </div>


  <div class="w-layout-blockcontainer outlinecontainer w-container">
    <div class="w-layout-hflex flextop w-clearfix">
      <div class="corner"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="corner"></div>
    </div>
    <div class="w-layout-hflex flexside">
      <div class="w-layout-vflex w-clearfix">
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
      </div>
      <div class="w-layout-blockcontainer middlecontainer w-container"></div>
      <div class="w-layout-vflex w-clearfix">
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
        <div class="blockside"></div>
      </div>
    </div>
    <div class="w-layout-hflex flextop w-clearfix">
      <div class="corner"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="blocktop"></div>
      <div class="corner"></div>
    </div>
  </div> -->

</div>

{{ template "footer.html" .}}